<footer class="bg-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5>Subscribe to our Newsletter</h5>
        <p>Stay updated with the latest news and events.</p>
      </div>
      <div>
        <h5>Event Details</h5>
        <!-- Make the paragraph to be icons -->
        <li><p>May 22nd, 2024</p></li>
        <li><p>9:00 AM</p></li>
        <li><p>Hall of Excellence</p></li>
      </div>

      <!-- Make the background to be green -->
      <div>
        <!-- divs here should be inline-block elements -->
        <div>
          <!--let image to be inline  -->
          <img src="" alt="" /> // FUTO image <img src="" alt="" /> // SICT
          image
          <small>3rd Symposium of the SICT Conf. @2024</small>
        </div>
        <!-- Shift this to the right end but let it still be a block displayed -->
        <div>
          <h4>Follow us</h4>
          <!-- all of these should be an icon -->
          <li><p>facebook icon</p></li>
          <li><p>X icon</p></li>
          <li><p>instagram icon</p></li>
          <li><p>Tiktok icon</p></li>
        </div>
      </div>
      <!-- <div class="col-md-6">
        <form action="/subscribe" method="POST" class="form-inline">
          <div class="input-group">
            <input
              type="email"
              name="email"
              class="form-control"
              placeholder="Enter your email"
              required
            />
            <div class="input-group-append">
              <button type="submit" class="btn btn-success">Subscribe</button>
            </div>
          </div>
        </form>
      </div> -->
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <p>Privacy Policy | Terms of Conference | Contact Us</p>
      </div>
      <div class="col-md-6 text-md-right">
        <p>&copy; 2024 SICT Symposium</p>
      </div>
    </div>
  </div>
</footer>
