<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda | SICT Symposium</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- <link rel="stylesheet" href="/css/agenda.css" /> -->
    <link rel="stylesheet" href="/css/agenda.css" />
    <!-- for the navigation -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/nav') %>
    <br /><br /><br /><br /><br />
    <div class="conference-schedule-container">
      <h1>Conference Schedule</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias suscipit
        pariatur voluptatibus provident dolorum sit inventore doloribus mollitia
        delectus porro?
      </p>
      <br /><br /><br /><br /><br />
      <div class="agenda-container">
        <h2>Symposium Agenda</h2>
        <!-- let this be inline element -->
        <div>
          <ul class="list-line">
            <!-- ensure to use font awesome icons here and then make the element inline-->
            <li><p>May 22nd, 2024</p></li>
            <li><p>9:00AM</p></li>
            <li><p>Hall of Excellence</p></li>
          </ul>
        </div>
        <div class="mid-day-container">
          <h5>Midday Session</h5>
          <!-- block elements and list style type should be a tick -->
          <ul>
            <li>Workshop for Final Year and Post-graduate Students</li>
            <li>Keynote Speeches by Industry Experts</li>
            <li>Interactive Display and Demonstration</li>
            <li>Engaging Panel Discussion</li>
            <li>Refreshment</li>
            <li>Fun Quiz with prizes</li>
          </ul>
        </div>
      </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br />
    <div class="speakers-container">
      <h4>Our Speakers</h4>
      <!-- span the divs here to be block -->
      <!-- first speaker -->
      <div class="speaker-card">
        <div class="speaker-img-container">
          <!-- img container -->
          <img
            class="speaker-img"
            src="/images/francis.jpg"
            alt="speakers image"
          />
        </div>

        <div class="speaker-data-container">
          <h2>Njoku Chidozie Francis</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat a
            magnam, iusto necessitatibus animi earum fugiat rerum repudiandae
          </p>
        </div>
      </div>

      <!-- Second speaker -->
      <div class="speaker-card">
        <div class="speaker-img-container">
          <!-- img container -->
          <img
            class="speaker-img"
            src="/images/chigbu.jpg"
            alt="speakers image"
          />
        </div>

        <div class="speaker-data-container">
          <h2>Chigbu Kamsi Chimdindu</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat a
            magnam, iusto necessitatibus animi earum fugiat rerum repudiandae .
          </p>
        </div>
      </div>

      <!-- Third speaker -->
      <div class="speaker-card">
        <div class="speaker-img-container">
          <!-- img container -->
          <img
            class="speaker-img"
            src="/images/MosesDp.jpg"
            alt="speakers image"
          />
        </div>

        <div class="speaker-data-container">
          <h2>Sunday Moses</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat a
            magnam, iusto necessitatibus animi earum fugiat rerum repudiandae .
          </p>
        </div>
      </div>
    </div>
    <br /><br /><br /><br /><br /><br />
    <!-- Attend the future of food -->
    <div class="call-to-action-container">
      <h2>Attend the "Future of Food Symposium!"</h2>
      <h2>Secure your spot by registering</h2>
      <!-- DIsplay the below inline-block -->

      <section>
        <ul>
          <!-- Let the list style type be a bullet -->
          <li>
            Access to all Symposium sessions including keynotes, speeches, panel
            dicussion and workshops
          </li>

          <li>Certificate of attendance upon completion of the Symposium</li>
        </ul>
      </section>

      <section>
        <ul>
          <!-- List style type should be a bullet -->
          <li>
            Networking Opportunity with industry professionals, researchers and
            fellow attendees
          </li>
          <li>Exclusive access to Symposium materials and resources</li>
        </ul>
      </section>
      <!-- Let this div span across the page, dont break -->
      <div class="btn-container">
        <h2>Building opportunities for future Products and startup</h2>
        <button type="submit">
          <a class="white" href="/reg">REGISTER NOW</a>
        </button>
      </div>
    </div>
    <br /><br /><br /><br /><br />
    <!-- Enquire section -->
    <div class="enquire-container">
      <!-- Align this to the left -->
      <div class="big-left">
        <h4>For enquires and registration</h4>

        <br />
        <div>
          <img
            class="converner-img"
            src="/images/francis.jpg"
            alt="converner image"
          />
          <div class="converner-data">
            <br />
            <h5>Chidozie Francis</h5>
            <small>Committee Head</small>
          </div>
          <!-- add icons here -->
          <p><i class="far fa-envelope dark-green"></i> kingsley@gmail.com</p>
          <p><i class="fas fa-phone dark-green"></i> 081858754667</p>
        </div>
      </div>

      <!-- Align this to the right -->
      <div class="small-right">
        <div>
          <br />
          <img class="converner-img" src="/images/vc.jpg" alt="" />
          <h5>Special Guest</h5>
          <p>Professor Nnennaya Oti</p>
          <p>Vice Chancellor, FUTO</p>
        </div>

        <div>
          <img class="converner-img" src="../public/images/chiboy.jpg" alt="" />
          <h5>Chief Host</h5>
          <p>Professor U.F, Eze</p>
          <p>Dean of Student Affaris, FUTO</p>
        </div>
      </div>
    </div>
    <br />
    <!-- Make enquires for the program here -->
    <br /><br /><br /><br /><br />
    <%- include('partials/footer') %>
    <!-- For the navigation button -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
