<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda | SICT Symposium</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/agenda.css" />
    <!-- <link rel="stylesheet" href="../public/css/agenda.css" /> -->
    <!-- for the navigation -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/nav') %>

    <div>
      <h1>Conference Schedule</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias suscipit
        pariatur voluptatibus provident dolorum sit inventore doloribus mollitia
        delectus porro?
      </p>

      <div>
        <h4>Symposium Agenda</h4>
        <!-- let this be inline element -->
        <div>
          <ul>
            <!-- ensure to use font awesome icons here and then make the element inline-->
            <li><p>May 22nd, 2024</p></li>
            <li><p>9:00AM</p></li>
            <li><p>Hall of Excellence</p></li>
          </ul>
        </div>
        <div>
          <h3>Midday Session</h3>
          <!-- block elements and list style type should be a tick -->
          <ul>
            <li>Workshop for Final Year and Post-graduate Students</li>
            <li>Keynote Speeches by Industry Experts</li>
            <li>Interactive Display and Demonstration</li>
            <li>Engaging Panel Discussion</li>
            <li>Refreshment</li>
            <li>Fun Quiz with prizes</li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <!-- span the divs here to be block -->
      <!-- first speaker -->
      <div>
        <div>
          <!-- img container -->
          <img src="" alt="" />
        </div>

        <div>
          <h2>Dr. Emily Jason</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat a
            magnam, iusto necessitatibus animi earum fugiat rerum repudiandae
            ea, assumenda maxime nam labore pariatur quaerat ipsum! Earum
            doloremque laborum nostrum.
          </p>
        </div>
      </div>

      <!-- second speaker -->
      <div>
        <div>
          <!-- img container -->
          <img src="" alt="" />
        </div>

        <div>
          <h2>Dr. Emily Jason</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat a
            magnam, iusto necessitatibus animi earum fugiat rerum repudiandae
            ea, assumenda maxime nam labore pariatur quaerat ipsum! Earum
            doloremque laborum nostrum.
          </p>
        </div>
      </div>

      <!-- 3 speaker  -->
      <div>
        <div>
          <!-- img container -->
          <img src="" alt="" />
        </div>

        <div>
          <h2>Dr. Emily Jason</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat a
            magnam, iusto necessitatibus animi earum fugiat rerum repudiandae
            ea, assumenda maxime nam labore pariatur quaerat ipsum! Earum
            doloremque laborum nostrum.
          </p>
        </div>
      </div>
    </div>

    <!-- Attend the future of food -->

    <div>
      <h2>Attend the "Future of Food Symposium!"</h2>
      <h2>Secure your spot by registering</h2>
      <!-- DIsplay the below inline-block -->

      <section>
        <ul>
          <!-- Let the list style type be a bullet -->
          <li>
            Access to all Symposium sessions including keynotes, speeches, panel
            dicussion and workshops
          </li>

          <li>Certificate of attendance upon completion of the Symposium</li>
        </ul>
      </section>

      <section>
        <ul>
          <!-- List style type should be a bullet -->
          <li>
            Networking Opportunity with industry professionals, researchers and
            fellow attendees
          </li>
          <li>Exclusive access to Symposium materials and resources</li>
        </ul>
      </section>
      <!-- Let this div span across the page, dont break -->
      <div>
        <h2>Building opportunities for future Products and startup</h2>
        <button type="submit"><a href="/reg">REGISTER NOW</a></button>
      </div>
    </div>

    <!-- Enquire section -->
    <div>
      <!-- Align this to the left -->
      <div>
        <h2>For enquires and registration</h2>
        <div>
          <img src="" alt="converner image" />
          <div>
            <h4>Kingsley Okpala</h4>
            <small>Committee Head</small>
          </div>
          <!-- add icons here -->
          <p>kingsley@gmail.com</p>
          <p>081858754667</p>
        </div>
      </div>

      <!-- Align this to the right -->
      <div>
        <div>
          <img src="" alt="" />
          <h3>Special Guest</h3>
          <p>Professor Name</p>
          <p>Vice Chancellor, FUTO</p>
        </div>

        <div>
          <img src="" alt="" />
          <h3>Chief Host</h3>
          <p>Professor U.F, Eze</p>
          <p>Dean of Student Affaris, FUTO</p>
        </div>
      </div>
    </div>

    <!-- Make enquires for the program here -->

    <%- include('partials/footer') %>
    <!-- For the navigation button -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
