<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SICT Symposium</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- for the navigation -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <!-- <link rel="stylesheet" href="/css/styles.css" /> -->
  </head>
  <body>
    <%- include('partials/nav') %><br />
    <br /><br /><br /><br /><br />

    <div class="main-container">
      <div class="left-square"></div>
      
      <div class="img-container">
        <img
          class="flyer-img"
          src="/images/flyerr (1).png"
          alt="the flyer should be here"
        />
      </div>

       <div class="main-container-sub">
        <h1>How This Conference Works</h1>
        <p>
          Welcome to the Symposium on the Future of Food. Embrace the
          convergence of AI, robotics, and vertical farming, shaping the
          sustenance landscape for generations to come. Explore innovative
          solutions and revolutionary insights that promise to revolutionize
          food production. Let's cultivate ideas, nurture collaboration, and sow
          the seeds of a greener, more abundant future. Join us in this pivotal
          conversation, where technology meets sustainability to redefine how we
          nourish our planet. Welcome to a symposium where possibilities grow as
          tall as our aspirations.
        </p>
      </div>


      <div class="ordinary-square"></div>
    </div>
    <br />
    <br /><br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="feature-container">
      <h2>Featured Speaker</h2>
      <!-- Let each div here have a with of 30% -->
      <!-- display should be inline block  -->
      <!-- margin should be side-ways gapped and also top and buttom gapped also -->
      <div class="speaker-card">
        <img class="speaker-img" src="/images/francis.jpg" alt="speakers" />
        <h3>Francis</h3>
        <h5>Computer Science</h5>
        <hr />
      </div>
      <!-- Second Div -->
      <div class="speaker-card">
        <img class="speaker-img" src="/images/chigbu.jpg" alt="speakers" />
        <h3>Chigbu Kamsi Chimdindu</h3>
        <h5>Cyber Security</h5>
        <hr />
      </div>
      <!-- Second Div -->
      <div class="speaker-card">
        <img class="speaker-img" src="/images/MosesDp.jpg" alt="speakers" />
        <h3>Sunday Moses</h3>
        <h5>Computer Science</h5>
        <hr />
      </div>
      <!-- Second Div -->
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <!-- Attend the future of food -->
    <br />
    <div class="call-to-action-container">
      <h2>Attend the "Future of Food Symposium!"</h2>
      <h2>Secure your spot by registering</h2>
      <!-- DIsplay the below inline-block -->

      <section>
        <ul>
          <!-- Let the list style type be a bullet -->
          <li>
            Access to all Symposium sessions including keynotes, speeches, panel
            dicussion and workshops
          </li>

          <li>Certificate of attendance upon completion of the Symposium</li>
        </ul>
      </section>

      <section>
        <ul>
          <!-- List style type should be a bullet -->
          <li>
            Networking Opportunity with industry professionals, researchers and
            fellow attendees
          </li>
          <li>Exclusive access to Symposium materials and resources</li>
        </ul>
      </section>
      <!-- Let this div span across the page, dont break -->
      <div class="btn-container">
        <h2>Building opportunities for future Products and startup</h2>
        <button type="submit">
          <a class="white" href="/reg">REGISTER NOW</a>
        </button>
      </div>
    </div>

    <!-- Enquire section -->
    <div class="enquire-container">
      <!-- Align this to the left -->
      <div class="big-left">
        <h4>For enquires and registration</h4>

        <br />
        <div>
          <img
            class="converner-img"
            src="../public/images/chiboy.jpg"
            alt="converner image"
          />
          <div class="converner-data">
            <br />
            <h5>Kingsley Okpala</h5>
            <small>Committee Head</small>
          </div>
          <!-- add icons here -->
          <p><i class="far fa-envelope dark-green"></i> kingsley@gmail.com</p>
          <p><i class="fas fa-phone dark-green"></i> 081858754667</p>
        </div>
      </div>

      <!-- Align this to the right -->
      <div class="small-right">
        <div>
          <br />
          <img class="converner-img" src="/images/vc.jpg" alt="" />
          <h5>Special Guest</h5>
          <p>Professor Nnennaya Oti</p>
          <p>Vice Chancellor, FUTO</p>
        </div>

        <div>
          <img class="converner-img" src="../public/images/chiboy.jpg" alt="" />
          <h5>Chief Host</h5>
          <p>Professor U.F, Eze</p>
          <p>Dean of Student Affaris, FUTO</p>
        </div>
      </div>
    </div>
    <br />
    <!-- Make enquires for the program here -->

    <%- include('partials/footer') %>
    <!-- For the navigation button -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
