<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SICT Symposium</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- for the navigation -->
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <br /><br />
    <%- include('partials/nav') %>
    <div>
      <div>
        <h1>How This Conference Works</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium
          vitae debitis dicta nam, veritatis atque voluptatem dolores
          distinctio! Dignissimos maxime blanditiis distinctio numquam deleniti
          nobis molestiae ullam voluptates aspernatur. Reprehenderit!
        </p>
      </div>
      <div class="img-container">
        <!-- <img src="" alt=""> -->
      </div>
    </div>

    <div>
      <h1>Featured Speaker</h1>
      <!-- Let each div here have a with of 30% -->
      <!-- display should be inline block  -->
      <!-- margin should be side-ways gapped and also top and buttom gapped also -->
      <div>
        <img src="" alt="" />
        <h3>Dr. Jane Smith</h3>
        <h5>Occupation - Ministry of Affair</h5>
        <hr />
      </div>
      <!-- Second Div -->
      <div>
        <img src="" alt="" />
        <h3>Dr. Jane Smith</h3>
        <h5>Occupation - Ministry of Affair</h5>
        <hr />
      </div>

      <!-- Third div -->
      <div>
        <img src="" alt="" />
        <h3>Dr. Jane Smith</h3>
        <h5>Occupation - Ministry of Affair</h5>
        <hr />
      </div>
    </div>

    <!-- Attend the future of food -->
    <div>
      <h2>Attend the "Future of Food Symposium!"</h2>
      <h2>Secure your spot by registering</h2>
      <!-- DIsplay the below inline-block -->

      <section>
        <ul>
          <!-- Let the list style type be a bullet -->
          <li>
            Access to all Symposium sessions including keynotes, speeches, panel
            dicussion and workshops
          </li>

          <li>Certificate of attendance upon completion of the Symposium</li>
        </ul>
      </section>

      <section>
        <ul>
          <!-- List style type should be a bullet -->
          <li>
            Networking Opportunity with industry professionals, researchers and
            fellow attendees
          </li>
          <li>Exclusive access to Symposium materials and resources</li>
        </ul>
      </section>
      <!-- Let this div span across the page, dont break -->
      <div>
        <h2>Building opportunities for future Products and startup</h2>
        <button type="submit"><a href="/reg">REGISTER NOW</a></button>
      </div>
    </div>

    <!-- Enquire section -->
    <div>
      <!-- Align this to the left -->
      <div>
        <h2>For enquires and registration</h2>
        <div>
          <img src="" alt="converner image" />
          <div>
            <h4>Kingsley Okpala</h4>
            <small>Committee Head</small>
          </div>
          <!-- add icons here -->
          <p>kingsley@gmail.com</p>
          <p>081858754667</p>
        </div>
      </div>

      <!-- Align this to the right -->
      <div>
        <div>
          <img src="" alt="" />
          <h3>Special Guest</h3>
          <p>Professor Name</p>
          <p>Vice Chancellor, FUTO</p>
        </div>

        <div>
          <img src="" alt="" />
          <h3>Chief Host</h3>
          <p>Professor U.F, Eze</p>
          <p>Dean of Student Affaris, FUTO</p>
        </div>
      </div>
    </div>

    <!-- Make enquires for the program here -->

    <%- include('partials/footer') %>
    <!-- For the navigation button -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
