* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0px 20px;
  padding: 0px;
}
.conference-schedule-container {
  /* border: 1px solid red; */
  text-align: center;
  width: 70%;
  margin: 20px auto 10px;
}

.conference-schedule-container h1 {
  color: darkgreen;
}

.conference-schedule-container p {
  max-width: 70%;
  margin: 10px auto;
}

.agenda-container {
  padding: 4px 0px 40px;
  /* border: 3px solid green; */
  background-color: #e7dddd;
}

.agenda-container h4 {
  text-align: center;
  font-weight: light;
}

.list-line li {
  display: inline-flex;
  /* border: 1px solid red; */
  font-size: 0.7rem;
  margin: 5px 25px;
  width: fit-content;
  font-weight: bold;
  /* list-style-type: symbols("mark"); */
}

.mid-day-container {
  text-align: left;
  background-color: white !important;
  padding: 5px;
  border-radius: 5px;
  margin: 5px 25px;
  border: 1px solid white;
  line-height: 2rem;
}

.mid-day-container h5 {
  color: darkgreen;
}

.speakers-container {
  text-align: center;
  width: 70%;
  border: 1px solid red;
  border-radius: 5px;
  margin: 20px auto;
}

.speaker-img-container {
  width: 159px !important;
  height: auto;
  margin: 0px 10px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #aaa;
  border: 1px solid green;
}

.speaker-img {
  width: 100%;
  height: auto;
}

.speaker-card {
  margin: 10px auto;
  display: block !important;
  border: 3px solid black;
}

.speaker-data-container,
.speaker-img-container {
  margin: 10px 20px;
  display: inline-block;
  border: 1px solid green;
  width: 40%;
}

/* Attend the symposium */

.call-to-action-container {
  background-color: darkgreen;
  color: white;
  border-radius: 5px;
  padding: 10px 10px 50px;
  text-align: left;

  width: 70%;
  margin: 20px auto 10px;
}

.call-to-action-container section {
  display: inline-block;
  width: 40%;
  border: 1px solid white;
  min-width: 230px;
  margin: 20px;
}

.call-to-action-container section li {
  margin: 10px 0px;
  font-size: 0.8rem;
}

.btn-container {
  display: inline;
}

.btn-container button {
  color: white;
  border: 1px solid white;
  padding: 10px;
  background-color: green;
  border-radius: 5px;
  position: relative;
  /* left: 350px; */
  margin: 10px 5px 0px 5px;
}

a.white {
  color: white;
  text-decoration: none;
}

a.white:hover {
  background-color: white;
  color: green;
  padding: 5px;
  border: 1px solid green;
  border-radius: 5px;
  text-decoration: none;
}

.enquire-container {
  border: 1px solid #aaa;
  box-shadow: 2px 3px 2px #aaa;
  border-radius: 5px;
  width: 70%;
  margin: 20px auto 10px;
  text-align: center;
  display: inline-block;
}

.enquire-container .big-left,
.enquire-container .small-right {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid green;
}

.converner-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: #aaa;
}

.big-left {
  text-align: left;
  font-size: 0.9rem;
  line-height: 0.9rem;
}

/* Define dark green color */
.dark-green {
  color: darkgreen;
}
.small-right {
  border-radius: 5px;
  font-size: 0.9rem;
  line-height: 1rem;
  display: inline-block;
  border: 3px solid darkgreen !important;
}

.small-right div {
  display: inline-block;
  /* border: 1px solid red; */
}

.small-right div h5 {
  color: darkgreen;
}
